<?xml version="1.0"?>
<config>

    <modules>
        <Digidennis_WorkSlip>
            <version>0.0.2</version>
        </Digidennis_WorkSlip>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <digidennis_workslip after="Mage_Adminhtml">Digidennis_WorkSlip_Adminhtml</digidennis_workslip>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <events>
            <create_order_session_quote_initialized>
                <observers>
                    <digidennis_dkshipping_sales_order_create_process_data_before>
                        <type>singleton</type>
                        <class>digidennis_workslip/observer</class>
                        <method>salesOrderCreateProcessData</method>
                    </digidennis_dkshipping_sales_order_create_process_data_before>
                </observers>
            </create_order_session_quote_initialized>
        </events>
        <layout>
            <updates>
                <digidennis_workslip>
                    <file>Digidennis_WorkSlip.xml</file>
                </digidennis_workslip>
            </updates>
        </layout>
        <translate>
            <modules>
                <Digidennis_WorkSlip>
                    <files>
                        <default>Digidennis_WorkSlip.csv</default>
                    </files>
                </Digidennis_WorkSlip>
            </modules>
        </translate>
        <blocks>

        </blocks>
    </adminhtml>

    <global>
        <blocks>
            <digidennis_workslip>
                <class>Digidennis_WorkSlip_Block</class>
            </digidennis_workslip>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Digidennis_WorkSlip_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <digidennis_workslip>
                <class>Digidennis_WorkSlip_Model</class>
                <resourceModel>digidennis_workslip_resource</resourceModel>
            </digidennis_workslip>
            <digidennis_workslip_resource>
                <class>Digidennis_WorkSlip_Model_Resource</class>
                <entities>
                    <workslip>
                        <table>digidennis_workslip_workslip</table>
                    </workslip>
                    <material>
                        <table>digidennis_workslip_material</table>
                    </material>
                </entities>
            </digidennis_workslip_resource>
        </models>
        <helpers>
            <digidennis_workslip>
                <class>Digidennis_WorkSlip_Helper</class>
            </digidennis_workslip>
        </helpers>
        <resources>
            <digidennis_workslip_setup>
                <setup>
                    <module>Digidennis_WorkSlip</module>
                    <class>Digidennis_WorkSlip_Model_Resource_Setup</class>
                </setup>
            </digidennis_workslip_setup>
        </resources>
    </global>

</config>